#game-area {
  width: 640px;
  height: 480px;
  margin: auto;
}
#modal-border {
  position: absolute;
    left:50%;
  width: 220px;
  height: 140px;
  background-color: #ccc;
  margin: auto;
  margin-left:-110px;
  top: 200px;
  box-shadow: 0px 0px 25px #bba;
  display: none;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid black;
}
#modal-error{
  display: none;
}
#modal {
  width: 218px;
  height: 138px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #999;
}

#modal input {
  border: 1px solid #999;
}

#modal span {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

#modal span.modal-header {
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
  background-color: #eee;
}

#modal span.modal-button {
  border: 1px solid #aaa;
  background-color: #ccc;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100px;
}

#modal span.modal-button:hover {
  background-color: #ddd;
}

#menu {
  display: inline;
  background-color: #dfdfdf;
  border: 1px solid #676767;
  width: 400px;
  height: 25px;
  position: relative;
  float: right;
  top: 500px;
  left: -10px;
}

#resources {
  display: inline;
  position: absolute;
  width: 100px;
  height: 25px;
  color: black;
  font-family: arial;
  font-weight: bold;
  padding: 5px;
  float: left;
}
.hint {
  display: inline;
  position: absolute;
  width: 100px;
  height: 25px;
  color: black;
  font-family: arial;
  font-weight: bold;
  padding: 5px;
  float: left;
  left: 80px;
}

#gatherer, #attacker {
  display: inline;
  position: relative;
  width: 60px;
  height: 20px;

  background-color: #cdcdcd;
  border: 1px solid #565656;
  color: black;
  font-family: arial;
  font-weight: bold;
  padding: 10px;
}
#gatherer{
  left: 135px;
  top: 5px;
}

#attacker{
  left: 140px;
  top: 5px;
}

#gatherer.available, #attacker.available{
  background-color: #ffff55;
  border: 1px solid #555500;
  cursor: pointer;
}


#waiting{
  position: relative;
  display: block;
  width: 229px;
  height: 31px;
  border: 5px solid #787878;
  padding: 10px 0 0 10px;
  background-color: #fff;
  top: -250px;
  left: 200px;
}